.kimbo {
    color: rgb(26, 69, 93);
    font-weight: bold;
    margin-left: 10rem;
    margin-top: 2rem;
}
.counter{
    font-size:45px;
    font-weight:bold;
    text-align:center;
    z-index: 1000;
    color: rgb(26, 69, 93);
    margin-left: 4.5rem;
    margin-top: -80px;
}

.Fondo_titulo{
    color: white;
    background-color: rgb(26, 69, 93);
    border-radius: 2rem 0rem 2rem 0rem;
    -webkit-box-shadow: 19px 8px 20px 1px rgba(0,0,0,0.8); 
    box-shadow: 19px 8px 20px 1px rgba(0,0,0,0.8);
}

.tituloNR{
    text-align: center;
    padding: 10px;
    z-index: 5;
  
        
}

.ajustado{
    padding-left: 23rem;
    padding-right: 23rem;

}
.fondo1{
    margin-top: 60px;
    padding:100px;
    position: absolute;
    background-color: #ffffff;
    width: 85rem;
    height: 20rem;
    z-index: -999;

    box-shadow: 18px 13px 42px -9px rgba(0,0,0,0.66);
    -webkit-box-shadow: 18px 13px 42px -9px rgba(0,0,0,0.66);
    -moz-box-shadow: 18px 13px 42px -9px rgba(0,0,0,0.66);
        
}

.country,
.customer,
.team{
    width: 120px !important;
    height: 120px !important;
    margin-top: 50px;
}