@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

.card-resultados {
    width: 100%;
    margin: 1rem auto;
}

.iconoSize {
    width: 100%;
    height: auto;
    margin-left: 23%;
}

.iconoContador {
    margin: 0 auto;
}

.contenidoNR {
    border: none !important;
    /* border:#FFFFFF; */
    /* border-radius: 16px;
    box-shadow: 2px 2px 5px #999; */
    background: #FFFFFF;
    box-shadow: 0px 48px 100px rgba(26, 69, 93, 0.45);
    border-radius: 24px;
}

.numeroContador {
    color: #1A455D;
    font-size: 53px;
    font-weight: 800;
}

.textoContador {
    margin-top: 6%;
    color: #1A455D;
    font-size: 25px;
    font-weight: 500;
}

.contador {
    margin-top: 5%;
    text-align: center;
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
    .card-resultados {
        width: 100%;
        margin: 16px auto;
    }
    .iconoSize {
        width: 35%;
        height: auto;
        margin: 5px auto 18px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .numeroContador {
        font-size: 48px;
    }
    .textoContador {
        margin-top: 4%;
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .numeroContador {
        font-size: 45px;
    }
}