@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
	font-size: 1.4rem;
	line-height: 2rem;
	font-family: 'Poppins', sans-serif;
}
main{	
	position: absolute;	
	height: 100%;
	width: 100%;
}
html, body {
	width: 100%;
}
/*.section {
	padding-left: 0 !important;
  	padding-right: 0 !important;
  	width: 100% !important;
}
*/

/*---------------------- LINEAS HORIZONTALES ---------------------*/
/* .lineaHImagenes {
	border-top: 14px solid #1A455D;
	max-width: 425px;
	margin: 0px auto 0 auto;
	border-radius: 10px;
	opacity: inherit;
} */
.lineaHImagenes {
    border-top: 6px solid #1A455D;
    width: 217px;
    margin: 0px auto 2rem auto;
    border-radius: 10px;
    opacity: inherit;
}

/* ---------------------------------------------------- */
.offset-md-1 {
    margin-left: 2.6%;
}
.seccionTamaño {
    width: 100%;
	height: 100%;
	margin: 0 auto;
}
.seccionTamañoResultados {
	width: 100%;
	height: 65%;
	margin: 0 auto;
}
/* .row {
	overflow-x: hidden;
} */

























