@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
	font-size: 1.4rem;
	line-height: 2rem;
	font-family: 'Poppins', sans-serif;
}
main{	
	position: absolute;	
	height: 100%;
	width: 100%;
}
html, body {
	width: 100%;
}
/*.section {
	padding-left: 0 !important;
  	padding-right: 0 !important;
  	width: 100% !important;
}
*/

/*---------------------- LINEAS HORIZONTALES ---------------------*/
/* .lineaHImagenes {
	border-top: 14px solid #1A455D;
	max-width: 425px;
	margin: 0px auto 0 auto;
	border-radius: 10px;
	opacity: inherit;
} */
.lineaHImagenes {
    border-top: 6px solid #1A455D;
    width: 217px;
    margin: 0px auto 2rem auto;
    border-radius: 10px;
    opacity: inherit;
}

/* ---------------------------------------------------- */
/* .offset-md-1 {
    margin-left: 2.6%;
} */
/* .seccionTamaño {
    width: 100%;
	height: 100%;
	margin: 0 auto;
} */
/* .seccionTamañoResultados {
	width: 100%;
	height: 65%;
	margin: 0 auto;
} */
/* .row {
	overflow-x: hidden;
} */

    
/*====Espacio entre secciones====*/
.espaciado{
	padding-top: 2rem;
	border-collapse: 1px solid black;
}
/*====FIN Espacio entre secciones====*/




/* ----------------------------- Titulos --------------------------------- */
.titulosIC {
    justify-content:center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #1A455D;
    border-radius: 3.3rem 0rem 3.3rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    display:inline-block;
    text-align:center;
}
.letraTitulo {
    /* margin-top: 16%; */
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 5px;
    margin: auto;
    /* padding-top: 11px; */
}
.hoja{
    margin-top: -22px;
}
























