.fNosotros{
    background-image: url('../img/fondo/fondo-nosotros_interclean.png'); 
    background-repeat: no-repeat;
    background-size: 89%;
    background-position-x: left;
    background-position-y: -7px;
    height: 98vh;
    width: 100%;
}
.fCobertura {
    background-image: url('../img/fondo/fondo-cobertura_interclean.png');
    background-repeat: no-repeat;
    background-size: 89%;
    background-position-x: right;
    background-position-y: -7px;
    height: 98vh;
    width: 100%;
}