/* body{
    padding-top: 0px !important;
    
} */

/* ---------------------------------- COLORES FORMULARIOS --------------------------------- */
#nomemp::placeholder {color:white;} #nomemp::-webkit-input-placeholder {color: white;} #nomemp::-moz-placeholder {color: white;} #nomemp:-ms-input-placeholder {color: white;} #nomemp:-moz-placeholder {color: white;} #nomemp::placeholder {color:white;}
 
#telemp::-webkit-input-placeholder {color: white;} #telemp::-moz-placeholder {color: white;} #telemp:-ms-input-placeholder {color: white;} #telemp:-moz-placeholder {color: white;}
 
#ciudademp::-webkit-input-placeholder {color: white;} #ciudademp::-moz-placeholder {color: white;} #ciudademp:-ms-input-placeholder {color: white;} #ciudademp:-moz-placeholder {color: white;}
 
#estadoemp::-webkit-input-placeholder {color: white;} #estadoemp::-moz-placeholder {color: white;} #estadoemp:-ms-input-placeholder {color: white;} #estadoemp:-moz-placeholder {color: white;}
 
#antemp::-webkit-input-placeholder {color: white;} #antemp::-moz-placeholder {color: white;} #antemp:-ms-input-placeholder {color: white;} #antemp:-moz-placeholder {color: white;}
 
#nombre::-webkit-input-placeholder {color: white;} #nombre::-moz-placeholder {color: white;} #nombre:-ms-input-placeholder {color: white;} #nombre:-moz-placeholder {color: white;}
 
#correo::-webkit-input-placeholder {color: white;} #correo::-moz-placeholder {color: white;} #correo:-ms-input-placeholder {color: white;} #correo:-moz-placeholder {color: white;}

#telefono::-webkit-input-placeholder {color: white;} #telefono::-moz-placeholder {color: white;} #telefono:-ms-input-placeholder {color: white;} #telefono:-moz-placeholder {color: white;}

#mensaje::-webkit-input-placeholder {color: white;} #mensaje::-moz-placeholder {color: white;} #mensaje:-ms-input-placeholder {color: white;} #mensaje:-moz-placeholder {color: white;}

.imghojaMov{
    display: none;
}
.titempleo {
    margin-top: 15px;
    font-size: 58px;
}

.TextoTama単oEmpl {
    font-size: 39px;
    padding-top: 5.5px;
    margin-left: 3%;
}

.TextoTama単oCotiza {
    font-size: 45px;
    padding-top: 14.5px;
    margin-left: 23%;
}

.TextoTama単oMap {
    font-size: 36px;
    padding-top: 26.5px;
    margin-left: 9%;
}

#imgcalendar{
    margin-left: 43%;
    height: 87%;
}

#cotizacontacto{
    margin-top: 7%;
    color: #1A455D;
    font-family: 'Poppins', sans-serif;

}



#imgcemp {
    width: 58%;
    height: auto;
    margin-left: -19px;
}

.titledatosEmpl {
    margin-top: 13%;
    color: rgb(127, 164, 57);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 44px;
    /* margin-left: 80px; */
}
.subtitledatosEmpl {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #1A455D;
    /* margin-left: 95px; */
}

.formemp {
    margin-top: 39px;
    width: 80%;
    margin-left: 11%;
}

.form-groupFroms {
    margin-bottom: 1rem;
}

.tituloempl {
    /* width: 77rem;
    height: 18.5rem; */
    margin-left: -28.1rem;
    color: #1A455D;
    font-weight: 697;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
}

.titecotize {
    width: 67rem;
    height: 6.5rem;
    margin-left: -21.1rem;
    background-image: linear-gradient(to right, white , rgb(127, 164, 57));
    color: #1A455D;
    font-weight: 697;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin-right: 6%;
    border-radius: 2rem 0rem 2rem 0rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    margin-right: 6.9rem;
}
.titecotize2 {
    color: #1A455D;
    font-family: 'Poppins', sans-serif;
    font-size: 95%;   
    margin-left: -31.1rem;
    margin-top: -14%;
    font-weight: bold;
}

.titempleo {
    width: 27rem;
    height: 5.2rem;
    margin-left: -5.1rem;
    background-color:#1A455D;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-right: 5%;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
}


.LH1 {
    border-top: 14px solid rgb(127, 164, 57);
    max-width: 450px;
    margin: 0px auto 0 auto;
        margin-left: auto;
    border-radius: 10px;
}
.LH2 {
    border-top: 4px solid rgb(127, 164, 57);
    max-width: 220px;
    margin: 0px auto 0 auto;
    border-radius: 10px;
}

.LHCOTIZ{
border-top: 14px solid rgb(127, 164, 57);
max-width: 475px;
margin: 0px -8px 0 auto;  
border-radius: 10px; 
}

#empleos {
    background-color: rgb(127, 164, 57);
    border-color: rgb(127, 164, 57);
    font-family: 'Poppins', sans-serif;
    border-radius: 23px;
    margin-bottom: 40px;
    margin-top: 23px;
    margin-left: 170px;
}

#cotizaciones {
    background-color: rgb(127, 164, 57);
    border-color: rgb(127, 164, 57);
    font-family: 'Poppins', sans-serif;
    border-radius: 23px;
    margin-bottom: 40px;
    margin-top: 23px;
    margin-left: 250px;
}

#empleocotize{
    background-color: rgb(247, 247, 247);
    border-color: #1A455D;
    font-family: 'Poppins', sans-serif;
    border-radius: 23px;
    margin-bottom: 40px;
    margin-top: -79px;
    margin-left: 170px;
    color: #1A455D;
    margin-left: 54%;
    width: 203px;
    font-size: 18px;
}

.fondoEmp{
    width: 99vw;
    height: 70vh;
    background-image: linear-gradient( rgb(255, 255, 255), rgba(0, 0, 0, 0) ), url(../img/empleo/fondoempleointerclean.jpeg);
    margin-left: -1%;
}
.fondocotizaciones{
    width: auto;
    height: 70vh;
     background-image: linear-gradient( rgb(255, 255, 255), rgba(0, 0, 0, 0) ), 
     url(../img/empleo/fondocotizacionesinterclean.jpeg);
     
}


.coticeahora {
	position:relative;
	background: url('../img/empleo/hombrelimpiandointerclean.jpeg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 370px;	
}

.tituloservlimp{
	color: #fff;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    width: 800px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -400px;
    opacity: 0.9;

}

.imghoja{
    width: auto;
    margin-left: 29%;    
}

.tituloPrinc{
	color: #1A455D;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    width: 800px;
    position: absolute;
    top: 41%;
    left: 50%;
    margin-left: -400px;
    opacity: 0.9;

}
.fcotizaciones{
    margin-top: 5%;
}

.formcot{   
        width: 108%;        
        margin-top: 9%;
        margin-left: 4%;
}


#imgcot{
    height: auto;
    width: 70%;   
    margin-left: 20%;
}

.titecotiza {
    width: 47rem;
    height: 6.2rem;
    margin-left: -0.3rem;
    background-color: #1A455D;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 5%;
    border-radius: 3rem 0rem 3rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
}

.titecotizaContactanos{
    width: 47rem;
    height: 6.2rem;
    margin-left: -1.3rem;
    background-color: #1A455D;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 5%;
    border-radius: 0rem 3rem 0rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);

}

.titemapsub{
    width: 49rem;
    height: 7.2rem;
    /* margin-left: 32.6rem; */
    margin-left: auto;
    background-color: #1A455D;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 5%;
    border-radius: 3rem 0rem 0rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
}



.titecontactanos {
    width: 33rem;
    height: 5.2rem;
    margin-left: 4.9rem;
    background-color: #1A455D;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-right: 5%;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
}

#btnSubir {
    background-color: #1A455D;
    color: white;
    padding: 0.3rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 11px;
    cursor: pointer;
    margin-top: 0rem;
    font-size: 73%;
}

.TextoCotizacion {
    font-size: 42px;
    padding-top: 9.5px;
    left: 25%;
    margin-left: 12%;
}
.formularioEmp{
    height: calc(2em + 0.75rem + 2px);   
}

.formularioCotz{
    height: calc(3em + 0.75rem + 2px);   
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
}
.carousel-inner img{
    width: 100%;
    max-height: 575px;
} 

#secFormEmpl {
    margin-top: 4%;
}

 .carousel-control-prev{
    width: 10%;
    max-height: 600px;
}

.carousel-control-next{
    width: 10%;
    max-height: 600px;
} 

 .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;  
  background-size: 100%, 100%; 
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  
  color: #1A455D;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #1A455D;
}   

.opacity-100 {
    opacity: 0.4;
}

.w-100 {
    width: 100% !important;
}



.carousel .carousel-indicators li {background-color: #1A455D }
.carousel .carousel-indicators li.active {background-color: #32769b}

.Seleccionado-Boton{
    box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.55);;
}



@media (min-width: 320px) and (max-width: 500px) {
    .carousel-inner img{
        width: 100%;
        /* max-height: 575px; */
        height: 80vh;
    } 
    .d-none{

        display: block !important
    }
    .tituloempl{      
        margin-left: -32%;
        color: #1A455D;
        font-weight: 693;
        font-family: 'Poppins', sans-serif;
        font-size: 33px;
    }
    .carousel-caption{
        left: -9%;
    }   
    .imghoja{
        width: 10%;
        height: 17%;
    }
    .imghojaMov{
        display: block;
    }
    .imghoja{
        display: none;
    }
    #columimagtitlemp{
        height: 351px;
    }   

    .titempleo {
        width: 18rem;
        height: 4.2rem;
        font-size: 14px;
        margin-right: 5%;
        margin: 0 auto;
    }
    .TextoTama単oEmpl{
        font-size: 23px;
        padding-top: 12.5px;
        margin-left: 10%;
    }

    .imghojaFormeEM{
        width: 10%;
    }
    #imgcemp {
        display: none;
    }
    .LH1 {
        display: none;
    }

    .titledatosEmpl{
        font-size: 37px;
        margin-left: 0px;
        /* margin: 0 auto; */
        margin-top: 8%;
    }

    .tituloservlimp{
        color: #fff;
        font-size: 36px;
        text-align: center;
        margin: 0 auto;       
        width: 300px;
        position: absolute;
        top: 25%;       
        opacity: 0.9;
        left: 0;
        width: 300px;


    }
    .titecotize{
        width: 19rem;      
        font-weight: 697;
        height: 8.5rem;       
        font-size: 16px;      
        border-top-left-radius: 0rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
        -webkit-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);
        -moz-box-shadow: 23px 20px 31px 6px rgba(0,0,0,0.17);       
        margin: 0 auto;
    }
    .titecotize2{      
        color: #1A455D;      
        font-family: 'Poppins', sans-serif;
        font-size: 55%;      
        margin-top: -38%;
        margin-left:0em;
        font-weight: bold;

    }


    #empleocotize{
        background-color: rgb(247, 247, 247);
        border-color: #1A455D;
        font-family: 'Poppins', sans-serif;
        border-radius: 23px;
        margin-bottom: 40px;        
        color: #1A455D;
        margin-left: 28px;
        width: 144px;
        font-size: 15px;
        margin-top: 6px;
    }
    #empleos{
        margin: 0 auto;
        margin-left:auto;
    }

    .tituloDivEmpl{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subtitledatosEmpl{
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1A455D;
        margin-left:0%;
    }

    .LH2 {
        margin-top:8%
    }

    .divSubtLin{
        margin-top: 4%;
    }

    .coticeahora{
        margin-top: 8%;
    }
    #secFormEmpl {
        margin-top: 13%;
    }
    

     
   
}


