.loader-container{
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loading {
    background: url('../gif/loading_interclean.gif') no-repeat center center;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    overflow: visible;
  }