.Fondo-menu-central{
    background-color: rgba(31, 9, 9, 0.020);
    padding: 1rem;
    border-radius: 2rem;
}
.Seleccionado:hover{
    font-weight: bolder;


}
.Letras-Default-Menu{
    font-weight: bolder;
    font-size: large;
    color: rgb(26, 69, 93) !important;
    /* border-block-end: 4px solid #1A455D; */
}
.Letras-Default-Menu-Dropdown{
    font-size: large;
    font-weight: bolder;
    color: rgb(26, 69, 93) !important;
}

.Seleccionado-Boton {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
}
.Seleccionado-Boton:hover {
    background-image: linear-gradient(to right, #3a5531 0%, #7FA439  51%, #315531  100%);
    
}

.Seleccionado-Boton {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   font-weight: bolder;
   box-shadow: 0 0 20px #FFFFFF;
   border-radius: 2rem;
   display: block;
   border: 3px inset #01a6ff;
   
   box-shadow: 4px 5px 6px -2px rgba(0,0,0,0.75);
   -webkit-box-shadow: 4px 5px 6px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 4px 5px 6px -2px rgba(0,0,0,0.75);
    
 }

 .Seleccionado-Boton:hover {
   background-position: right center; /* change the direction of the change here */
   color: #FFFFFF;
   border: 3px inset #7FA439;
   text-decoration: none;
   font-weight: bolder;
 }


 .activebutton{
   color: #FFFFFF;
   border: 3px inset #7FA439;
   background-image:  linear-gradient(90deg, rgba(106,134,52,1) 0%, rgba(127,164,57,1) 35%, rgba(141,185,58,1) 100%);
 }
 /*ANIMACION MENU*/

.Linea_Menu li {
    margin-right: 50px;
    list-style-type: none;
}

.Linea_Menu a{
    position: relative;
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}
.Linea_Menu a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, #719233, #739534, #769835, #789c36, #7b9f37, #7ea438, #82a938, #85ae39, #8ab539, #8ebc39, #93c438, #98cb38);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.Linea_Menu a:hover::before {
    transform: scaleX(1);
  }
  .Linea_Menu[data-animation="bonus"] a::before {
    transform-origin: right;
  }
  .activado a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    color: #7FA439 !important;
    background-image: linear-gradient(to right, #719233, #739534, #769835, #789c36, #7b9f37, #7ea438, #82a938, #85ae39, #8ab539, #8ebc39, #93c438, #98cb38);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .activado a::before {
      transform: scaleX(1);
    }
    .activado[data-animation="bonus"] a::before {
      transform-origin: right;
    }

.activado2 a.nav-link.Letras-Default-Menu.Seleccionado.Separacion-Menu{
        color: #7FA439 !important;
        font-weight: bolder;
}

.activadoInicio a.nav-link.Letras-Default-Menu.Seleccionado{
    color: #7FA439 !important;
    font-weight: bolder;
}

.activeDD {
    margin-block-end: -10px;
    color: #7FA439 !important;
    font-weight: bolder;
    border-block-end: 2px solid #7FA439 !important;
}

.letrasG:hover {
  color: #7FA439;
}

.dropdown-item.active {  
   color: red !important; 
   background-color: darkviolet !important; 
  }