
.Contenedor-Logo{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

.Contenedor-Telefono{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}


.Fondo-menu-central{
    background-color: rgba(255, 255, 255, 0.10);
    padding: 1rem;
    border-radius: 2rem;
}
.FondoLetras{
    background-color: transparent;
}
.Seleccionado:hover{
    font-weight: bolder;
    color: #7FA439!important;
    border-block-end: 4px solid #7FA439!important;
}
.Letras-Default-Menu{
    font-weight: bolder;
    font-size: large;
    color: rgb(26, 69, 93) !important;
    border-block-end: 4px solid #1A455D;
}
.Letras-Default-Menu-Dropdown{
    font-size: large;
    font-weight: bolder;
    color: rgb(26, 69, 93) !important;
}

.activado{
    font-weight: bolder;
    font-size: large;
    color: #7FA439!important;
    border-block-end: 4px solid #7FA439!important;
}

.Seleccionado-Boton {
    background-image: 
    linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
}
.Seleccionado-Boton:hover {
    background-image: 
    linear-gradient(to right, #3a5531 0%, #4ada26  51%, #315531  100%)
}
.Seleccionado-Boton {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   font-weight: bolder;
   box-shadow: 0 0 20px #eee;
   border-radius: 2rem;
   display: block;
   border: 4px inset #01a6ff;
   box-shadow: 13px 11px 15px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 13px 11px 15px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 13px 11px 15px 0px rgba(0,0,0,0.55);
    
 }

 .Seleccionado-Boton:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   border: 4px inset#90da08!important;
   text-decoration: none;
   font-weight: bolder;
 }

 .Separacion-Menu{
     margin-left: 1.2rem;
 }
