
.row{
	overflow-x: hidden;
}
p{
    background-color: rgba(136, 133, 133, 0.010);
    border-radius: 2rem;
    padding: 11px;
}

.FondoIcono{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

/*Carrusel contenido*/
div .LimpiezaT {
    margin-right: 35vh;
    margin-left: 35vh;
}
.Diseño-Letras-limpieza {
    font-size: 70px;
    font-weight: 800;
    border-radius: 4rem;
    letter-spacing: 5.2px;
    font-style: normal;
    font-family: 'Poppins';
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-color: rgba(238, 238, 238, 0.192);
}
.FormatoLetras-Carrete {
    background-color: #ffffff1f;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Poppins';
    color: #ffffff;
    margin-left: 15vh;
    margin-right: 15vh;
}
/*Carrusel contenido*/
/*Fondo de tituos Limpieza*/
.Fondo-FumigacionP {
    width: auto;
    height: 13vh;
    background-color: rgb(26, 69, 93);
    border-radius: 2rem 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
}
.Hoja-2-D {
    width: 7%;
    height: auto;
    margin-left: 1rem;
    margin-top: 1rem;
}
.Txt-Letras-LPP {
    color: white;
    text-align: right;
    justify-content: left;
    font-weight: 1000;
    font-size: 27px;
    font-family: 'Poppins';
    margin-right: 4.5rem;
    margin-top: -2.8rem;
}

.Txt-Letras-LId {
    color: white;
    text-align: right;
    justify-content: center;
    font-weight: 1000;
    font-size: 30px;
    font-family: 'Poppins';
    margin-right: 8rem;
    margin-top: -2.5rem;
}
.Txt-Letras-LI {
    color: white;
    text-align: right;
    justify-content: center;
    font-weight: 800;
    font-size: 30.4px;
    font-family: 'Poppins';
    margin-right: 5.5rem;
    margin-top: -3.1rem;
}
.Txt-Letras-Lgc {
    color: white;
    text-align: right;
    font-weight: 800;
    font-size: 29px;
    font-family: 'Poppins';
    margin-right: 3.5rem;
    margin-top: -2.8rem;
}
/*Fondo de tituos Limpieza*/


.TextoTamaño{
    padding-top: 0.5rem;
    margin-left:  1rem;
}
/*====DISEÑO LINEA ====*/
.linea_izquierda hr {
    height: 5px;
    margin-left: 0%;
    margin-right: 5%;
    background-color: #7FA439;
}
.linea_derecha hr {
    height: 5px;
    margin-left: 5%;
    margin-right: 0%;
    background-color: #7FA439;
}
/*====FIN DISEÑO LINEA====*/

/*==== TAMAÑO CARRUSEL ====*/
.carousel{
    background-color: rgba(4, 4, 4, 0.83);
}
.carousel-control-prev,
.carousel-control-next{
    max-height: 40rem;
    opacity: rgba(63, 63, 63, 0.254);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}
/*==== FIN TAMAÑO CARRUSEL ====*/

  /*==== MANIPULACION DE LETRAS ====*/
.TituloServ{    
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    padding-left: 10rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: -8rem;
}
/*DESKTOP*/
.titulosh3{
    font-weight: bolder;
    color: #1A455D;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subtituloL{
    font-size: 1.2rem;
    color: #ffffff;
    -webkit-text-stroke: 1px rgb(19, 19, 19);
    font-weight: bolder;
    pointer-events: none;
    text-align:justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.titempl2 {
    margin-left: -5.4rem;
    width: 38rem;
    height: auto;
    background-color: #1A455D;
    color: #fff;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}
.hojitafp{
    width: 10%;
    margin: 11px;
    height: 80px !important;
    margin-left: 1.5rem;
}
.hojitasc{
    width: 10%;
    margin: 11px;
    height: 70px !important;
    margin-left: 1.5rem;
}

.btnposicionado {
    margin-top: 3.5rem;
    margin-left: 3.5rem;
    margin-right: 2.5rem;
    margin-block-end: 3rem;
    box-shadow: 9px 5px 11px -1px #1a455d;
    -webkit-box-shadow: 9px 5px 11px -1px hsl(0deg 0% 0%);
}
.letraI{
    color: #7FA439;
    font-weight: bolder;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.letrasM{
    font-weight: 600;
    text-align: justify;
}


.TituloIcS{
    margin: 2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    background-color: #1A455D;
    border-radius: 2rem 0rem 2rem 0rem;
}



/*====FIN MANIPULACION DE LETRAS====*/



.saniti {
    width: 70%;
    margin-left: 5rem;
}
/*====Estilos, Tamaños de los Botones====*/
.btnServicios {
    background-image: 
    linear-gradient(
        to right,
        #314755 0%,
        #26a0da  51%,
        #1A455D 100%);
        
    }
    .btnServicios {
        color: white;
        transition: 0.7s;
        padding: 0px 15px;
        text-align: center;
        border-radius: 2rem;
        text-transform: uppercase;
        background-size: 200% auto;
        border: 6px inset #106aa5;
    }
    .btnhidden{
        visibility: hidden;
    }
    .btnServicios:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-position: right center; /* Direccion del efecto hover */
        
    }
    .btnposicionado{
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-block-end: 3rem;
        box-shadow: 9px 5px 11px -1px #1A455D;   
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0, 0%, 0%); 
    }
/*====FIN Estilos, Tamaños de los Botones====*/
    

    
    
    
/*====Tamaño de imagenes====*/

    .resolicion2{
        width: 90% !important;
        border:1px solid black;
        border-radius: 2rem !important;
        box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -webkit-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -moz-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
    }
.iconoT{
    width: 100%;
    margin-top: 2rem;
   }
/*====FIN Tamaño de imagenes====*/


/*====Fondo de los anuncios finales====*/
.Fondo-FondoFinal {
    width: 80%;
    height: 40vh;
    padding: 10px;
    margin: 7px 1px 0px 144px;
    border: 6px solid #7FA439;
    border-radius: 2rem 2rem 2rem 2rem;
}
.Hoja-G {
    width: 12%;
    height: auto;
    margin-left: -0.2rem;
    margin-top: 1rem;
}
.Txt-Letras-Preguntas {
    color: #1A455D;
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    line-height: 50px;
    font-family: 'Poppins';
    margin-right: 0rem;
    margin-top: -1rem;
}
/* color: #1A455D; */
.btn-cotice {
    background-image: linear-gradient(
    to right, 
    #314755 0%, 
    #1f8cbe  40%,
    #1e85b5  50%,
    #21abad 60%,
    #12dc1c 65%,
    #3cda15  70%,
    #7FA439  100%)
}
.btn-cotice {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius:  3rem;
   display: block;
 }

 .btn-cotice:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.Posicion-Button-Cotice-Ya{
 display: flex;
 justify-content: center;
margin-left: auto;
margin-right: auto;
}

/*====FIN Fondo de los anuncios finales====*/

/*====SOMBRAS====*/

.sombreadoLineas{
    border-bottom: 1px solid #557813;
	box-shadow: 0 20px 20px -20px #78aa1b;
}
.opacity-100 {
    opacity: 0.6;
}

/*====FIN SOMBRAS====*/

/*====Metodos de ENRIQUE====*/


.titempl {
    width: auto;
    height: 5.2rem;
    background-color: #1A455D;
    color: #fff;
    font-size: 18px;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}

.titempl {
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Titillium Web', sans-serif;
}


.texto-superior {
    margin-bottom: 1rem;
}
.FormatoLetras {
    text-align: justify;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Poppins';
    color: #1A455D;
    line-height: 36px;
    letter-spacing: 1.5px;
}

.circulo-fum {
    width: 15rem;
    height: 15rem;
    -webkit-border-radius: 50%;
    margin: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px #999;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px!important;
    font-style: normal;
    font-weight: bolder;
    line-height: 49px;
    letter-spacing: 2px;
    text-align: center;
    color: #1A455D;
}

.card-text1 {
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: justified;
}

.hr-fum {
    height: 5px;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    border-top: 3px solid #7FA439;
}

.zoom {
    transition: 1s ease;
    -moz-transition: 1s ease;
    /* Firefox */
    -webkit-transition: 1.5s ease;
    /* Chrome - Safari */
    -o-transition: 1.5s ease;
    /* Opera */
}

.zoom1:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
}


.TextoCarousel{
    visibility: hidden;
    margin-top: -15rem;
    
}   


.container-fluid{
    margin-top: 2rem;
    margin-block-end: 2rem;
}


.Img_Posicion_Limpieza{
    margin-top: 5vh;
}
.resolucion{
    width: 100%;
    height: auto;
    left: auto;
    border-radius: 2rem !important;
}

.Posicionado_Texto_Limpieza{
    margin-top: 5vh;
}


.Posicion-Icono-Limpieza{
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tamaño-Icono-Limpieza {
    width: 70%;
    height: auto;
    border-radius: 2rem !important;
    margin-top: 4rem;
}


/*Desinfeccion*/

.Fondo-Sanitizacion {
    width: auto;
    height: 14vh;
    background-color: #1A455D;
    border-radius: 2rem 0rem 2rem 0rem;
}

.Hoja-1-D {
    width: 10%;
    height: auto;
    margin-left: 1rem;
    margin-top: 1rem;
}

.Txt-Letras-Sanitizacion {
    color: white;
    text-align: right;
    justify-content: center;
    font-weight: 800;
    font-size: 35.4px;
    font-family: 'Poppins';
    margin-right: 2rem;
    margin-top: -3.5rem;
}
.Txt-Letras-FumigacionP {
    color: white;
    text-align: right;
    justify-content: center;
    font-weight: 800;
    font-size: 40.4px;
    font-family: 'Poppins';
    margin-right: 6rem;
    margin-top: -3.8rem;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    color: #fff;
    text-align: center;
    opacity: .5;
    margin-top: 5rem;
    transition: opacity .15s ease;
    /* background-color: #0000001a;
    border-radius: 2rem; */
}
/*Desinfeccion*/
/*FIN CLASES SIN MEDIAS*/


@media only screen and (min-width: 1367px) and (max-width: 1680px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
/*Tableta*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    

    .carousel-inner img {
        width: auto;
        max-height: 30rem;
    }
    .carousel-control-prev, .carousel-control-next {
        max-height: 20rem;
        opacity: rgba(63, 63, 63, 0.364);
        background-color: rgba(0, 0, 0, 0.100);
        border-radius: 2rem;
    }
    
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 7rem;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: rgb(255, 255, 255);
        text-align: center;
        opacity: .5;
        transition: opacity .15s cubic-bezier(0.4, 0, 1, 1);
    }
    .FormatoLetras-Carrete {
        background-color: #ffffff1f;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        font-size: 25px;
        line-height: 28px;
        letter-spacing: 3px;
        font-family: 'Poppins';
        color: #ffffff;
        margin-left: -3vh;
        margin-right: -3vh;
    }
    .Diseño-Letras-limpieza {
        font-size: 60px;
        font-weight: 800;
        border-radius: 4rem;
        letter-spacing: 14.2px;
        font-style: normal;
        font-family: 'Poppins';
        font-variant: small-caps;
        text-transform: capitalize;
        color: #1A455D;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        background-color: rgba(238, 238, 238, 0.192);
    }
    div .LimpiezaT {
        margin-right: 4vh;
        margin-left: 4vh;
    }
    .Fondo-FumigacionP {
        width: auto;
        height: 11vh;
        background-color: rgb(26, 69, 93);
        border-radius: 2rem 0rem;
        margin-right: 34px;
        margin-left: 19px;
    }

    .FormatoLetras {
        font-size: 2.4rem;
        text-align: justify;
        justify-content: center;
        font-weight: 600;
        font-family: 'Poppins';
        color: #1A455D;
        line-height: 56px;
        letter-spacing: -2.5px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .Posicion-Icono-Limpieza, .Tamaño-Icono-Limpieza {
        display: block !important;
    }
    .desaparecer-icono {
        visibility: hidden;
        position: fixed;
        z-index: -999;
    }
    
    .Txt-Letras-LI {
        color: white;
        text-align: right;
        justify-content: center;
        font-weight: 800;
        font-size: 41.5px;
        font-family: 'Poppins';
        margin-right: 7.5rem;
        margin-top: -3.5rem;
    }

    .resolucion {
        width: 70%;
        height: auto;
        /* left: auto; */
        border-radius: 2rem !important;
        margin-left: 110px;
    }

    .Fondo-FondoFinal {
        width: 60%;
        height: 26vh;
        padding: 10px;
        margin: 4px 0px 22px 107px;
        border: 6px solid #7FA439;
        border-radius: 2rem 2rem 2rem 2rem;
    }
    .Txt-Letras-LI {
        color: white;
        text-align: right;
        justify-content: center;
        font-weight: 800;
        font-size: 42.5px;
        font-family: 'Poppins';
        margin-right: 4.5rem;
        margin-top: -3.2rem;
    }
    .Txt-Letras-LId {
        color: white;
        text-align: right;
        justify-content: center;
        font-weight: 1000;
        font-size: 48.2px;
        font-family: 'Poppins';
        margin-right: 5rem;
        margin-top: -3.5rem;
    }
    .Txt-Letras-Lgc {
        color: white;
        text-align: right;
        font-weight: 800;
        font-size: 36.5px;
        font-family: 'Poppins';
        margin-right: 2.5rem;
        margin-top: -3.2rem;
    }


    .Txt-Letras-LPP {
        color: white;
        text-align: right;
        justify-content: left;
        font-weight: 1000;
        font-size: 40.2px;
        font-family: 'Poppins';
        margin-right: 1.5rem;
        margin-top: -3.2rem;
    }
    .Txt-Letras-Preguntas {
        color: #1A455D;
        text-align: center;
        font-weight: 1000;
        font-size: 2rem;
        line-height: 50px;
        font-family: 'Poppins';
        margin-right: 0rem;
        margin-top: -2rem;
    }

    .circulo-fum {
        width: 20rem;
        height: 20rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: 30%;
        margin-right: 10%;
        margin-bottom: 2rem;
        box-shadow: 2px 2px 5px #999;
    }

    .Txt-Letras-Sanitizacion {
        color: white;
        text-align: right;
        justify-content: center;
        font-weight: 800;
        font-size: 42.4px;
        font-family: 'Poppins';
        margin-right: 5rem;
        margin-top: -4.2rem;
    }
}

/*Telefono*/
@media only screen and  (min-width: 320px) and (max-width: 500px) {
    
    .Fondo-FumigacionP {
        width: auto;
        height: 11vh;
        background-color: rgb(26, 69, 93);
        border-radius: 2rem 0rem;
        margin-right: 34px;
        margin-left: 19px;
    }

    

    
    /*FOOTER PREVIO*/
    .Fondo-FondoFinal {
        width: 80%;
        height: auto;
        padding: -1px;
        margin: 9px 27px 25px 17px;
        border: 4px solid #7FA439;
        border-radius: 2rem 2rem 2rem 2rem;
    }
    .Hoja-G {
        width: 18%;
        height: auto;
        margin-left: -10px;
        margin-top: 0rem;
    }
    .Txt-Letras-Preguntas {
        color: #1A455D;
        text-align: center;
        justify-content: center;
        font-weight: 1000;
        font-size: 21.4px;
        font-family: 'Poppins';
        margin-right: 0rem;
        margin-top: -2rem;
    }
    /*FIN FOOTER PREVIO*/
    .circulo-fum {
        width: 15rem;
        height: 15rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 1rem;
        margin-bottom: 2rem;
        box-shadow: 13px 5px 13px 2px #999;
    }

    h3.card-title{
        font-weight: 800;
        font-family: 'Poppins';
        color: #1A455D;
    }
    /*Titulos*/
    div .LimpiezaT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }
    .Diseño-Letras-limpieza{
        font-size: 50px;
        font-weight: 800;
        word-spacing: -3px;
        border-radius: 2rem;
        letter-spacing: 0.2px;
        font-style: normal;
        font-family: 'Poppins';
        font-variant: small-caps;
        text-transform: capitalize;
        color: #1A455D;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        background-color: rgba(238, 238, 238, 0.192);
        
    }
    div .DesinfeccionT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }
        .Diseño-Letras-DSF {
            font-size: 34px;
            font-weight: 800;
            word-spacing: 3px;
            border-radius: 2rem;
            letter-spacing: 0.2px;
            font-style: normal;
            font-family: 'Poppins';
            font-variant: small-caps;
            text-transform: capitalize;
            color: #1A455D;
            -webkit-text-stroke: 1px rgb(255, 255, 255);
            background-color: rgba(238, 238, 238, 0.192);
        }
    div .MantenimientoT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }
    .Diseño-Letras-M{
        font-size: 40px;
        font-weight: 800;
        word-spacing: -3px;
        border-radius: 1rem;
        letter-spacing: 0.2px;
        font-style: normal;
        font-family: 'Poppins';
        font-variant: small-caps;
        text-transform: capitalize;
        color: #1A455D;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        background-color: rgba(238, 238, 238, 0.192);
    }
    /*Titulos*/
 /*TELEFONO - LIMPIEZA*/
    .Posicion-Icono-Limpieza, .Tamaño-Icono-Limpieza{
        display: block !important;
    }
    .Posicion-Icono-Mantenimiento, .Tamaño-Icono-Mantenimiento{
        display: block !important;
    }


    /*FIN TELEFONO - LIMPIEZA*/
    
    .FormatoLetras {
        text-align: justify;
        justify-content: center;
        font-weight: 600;
        font-family: 'Poppins';
        color: #1A455D;
        font-size: 1.5rem;
        line-height: 26px;
        letter-spacing: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    

    /*Carrusel*/
    .carousel-control-prev, .carousel-control-next {
        max-height: 100vh;
        height: 211vh !important;
        opacity: rgba(255, 255, 255, 0.953);
    }
    /*Servicios Limpieza*/
    .carousel-control-prev,
    .carousel-control-next{
        height: 95vh;
        opacity: rgba(255, 255, 255, 0.953);
    }
    .carousel-inner img{
        width: 100%;
        min-width: 150vh;
        background-position-x: 50%;
        height: 100vh;
        max-height: 100vh; 
    }
    .d-md-block{
        display: block !important;
    }
    .FormatoLetras-Carrete {
        background-color: #ffffff1f;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        font-family: 'Poppins';
        color: #ffffff;
        margin-left: 0vh;
        margin-right: 0vh;
    }
  
    .carousel-inner.carousel-item IMG{
        background-color: green;
        height: 100vh;
    }
        /*Carrusel*/

        .titulosh3{
            font-weight: bolder;
            text-align: center;
        }
        .desaparecer-icono{
            visibility: hidden;
            position: fixed;
            z-index: -999;
        }

            .letraI{
                color: #7FA439;
                font-size: 2.5rem;
            }

           /*Mensaje Final*/
           .rellenoP {
               border: 4px solid #557813;
               height: 30vh;
               width: 40vh;
               margin-left: 1rem;
               border-radius: 2rem;
               -webkit-box-shadow: 9px 5px 11px -1px #557813;
               box-shadow: 9px 5px 11px -1px #557813;
               z-index: 2;
            }
            .textofin {
                color: #1A455D;
                font-size: 20px;
                font-weight: 1000;
                text-align: justify;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .hojac{

                text-align:justify;
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 50%;
                height: auto;
            }
            /*FIN Mensaje Final*/

            /*FORMATOS DE TITULO CON FONDO*/
            .Fondo-Sanitizacion{
                width: auto;
                height: 14vh;
                background-color: #1A455D;
                border-radius: 2rem 0rem 2rem 0rem;
            }
            .Txt-Letras-Sanitizacion{   
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 21.4px;
                font-family: 'Poppins';
                margin-right: 2rem;
                margin-top: -2rem;
            }
            .Hoja-1-D{
                width: 10%;
                height: auto;
                margin-left: 1rem;
                margin-top: 1rem;
            }
            .Fondo-FumigacionP{
                width: auto;
                height: 14vh;
                background-color: #1A455D;
                border-radius: 2rem 0rem 2rem 0rem;
            }
            .Txt-Letras-FumigacionP{
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 21.4px;
                font-family: 'Poppins';
                margin-right: 2rem;
                margin-top: -2rem;
            }
            .Hoja-2-D{
                width: 10%;
                height: auto;
                margin-left: 1rem;
                margin-top: 1rem;
            }
            .Txt-Letras-LI {
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 19.4px;
                font-family: 'Poppins';
                margin-right: 6%;
                margin-top: -1rem;
            }
            .Txt-Letras-LA{
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 21.4px;
                font-family: 'Poppins';
                margin-right: 1.5rem;
                margin-top: -2rem;
            }
            .Txt-Letras-LId {
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 21.4px;
                font-family: 'Poppins';
                margin-right: 2rem;
                margin-top: -0.9rem;
            }
            .Txt-Letras-Lgc {
                color: white;
                text-align: right;
                justify-content: left;
                font-weight: 800;
                font-size: 23px;
                font-family: 'Poppins';
                margin-right: 2.2rem;
                margin-top: -1.8rem;
            }
            .Txt-Letras-LPP {
                color: white;
                text-align: right;
                justify-content: left;
                font-weight: 800;
                font-size: 24px;
                font-family: 'Poppins';
                margin-right: 2.5rem;
                margin-top: -1.8rem;
            }

            .Fondo-Mantenimiento{
                width: auto;
                height: 14vh;
                background-color: #1A455D;
                border-radius: 2rem 0rem 2rem 0rem;
            }
            .Txt-Letras-Mantenimiento{   
                color: white;
                text-align: right;
                justify-content: center;
                font-weight: 800;
                font-size: 24px;
                font-family: 'Poppins';
                margin-right: 4rem;
                margin-top: -3rem;
            }
            .Hoja-1-M{
                width: 10%;
                height: auto;
                margin-left: 1rem;
                margin-top: 1rem;
            }
            /*Fin formatos de titulo con fondo*/
            
                .saniti {
                    width: 100%;
                    margin-left: 0rem;
                }

            /*Parte final del cada pagina antes del footer*/
            .resolucion{
                margin-top: auto;
            }
            
            .rellenob{
                position: fixed;
                
            }
            
            
      
       
            
            /*Parte final del cada pagina antes del footer*/
   
}