
.row{
	overflow-x: hidden;
}
p{
    background-color: rgba(136, 133, 133, 0.010);
    border-radius: 2rem;
    padding: 11px;
}

.FondoIcono{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

.TextoTamaño{
    padding-top: 0.5rem;
    margin-left:  1rem;
}
/*====DISEÑO LINEA ====*/
.linea_izquierda hr {
    height: 5px;
    margin-left: 0%;
    margin-right: 5%;
    background-color: #7FA439;
}
.linea_derecha hr {
    height: 5px;
    margin-left: 5%;
    margin-right: 0%;
    background-color: #7FA439;
}
/*====FIN DISEÑO LINEA====*/

/*==== TAMAÑO CARRUSEL ====*/
.carousel{
    background-color: rgba(4, 4, 4, 0.83);
}
.carousel-control-prev,
.carousel-control-next{
    max-height: 40rem;
    opacity: rgba(63, 63, 63, 0.254);
}
.carousel-inner img{
    width: 100%;
    max-height: 41rem;               
}
/*==== FIN TAMAÑO CARRUSEL ====*/

  /*==== MANIPULACION DE LETRAS ====*/
.TituloServ{    
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    padding-left: 10rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: -8rem;
}
.titulosh3{
    font-weight: bolder;
    color: #106aa5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subtituloL{
    font-size: 1.2rem;
    color: #ffffff;
    -webkit-text-stroke: 1px rgb(19, 19, 19);
    font-weight: bolder;
    pointer-events: none;
    text-align:justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.titempl2 {
    margin-left: -5.4rem;
    width: 38rem;
    height: auto;
    background-color: #1A455D;
    color: #fff;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}
.hojitafp{
    width: 10%;
    margin: 11px;
    height: 80px !important;
    margin-left: 1.5rem;
}
hojitasc{
    width: 10%;
    margin: 11px;
    height: 70px !important;
    margin-left: 1.5rem;
}
.ColorIzq{
    background-color: blue;
    color:blue;
}
.ColorDer{
    background-color: blue;
    color:blue;
}
.btnposicionado {
    margin-top: 3.5rem;
    margin-left: 3.5rem;
    margin-right: 2.5rem;
    margin-block-end: 3rem;
    box-shadow: 9px 5px 11px -1px #1a455d;
    -webkit-box-shadow: 9px 5px 11px -1px hsl(0deg 0% 0%);
}
.letraI{
    color: #7FA439;
    font-weight: bolder;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.textofin {
    color: #1A455D;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.letrasM{
    font-weight: 600;
    text-align: justify;
}


.TituloIcS{
    margin: 2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    background-color: #1A455D;
    border-radius: 2rem 0rem 2rem 0rem;
}
.letrasM{
    font-size: medium;

}

.txtposicion {
    position: relative;
    margin-top: -4.4rem;
    margin-left: 3rem;
}
/*====FIN MANIPULACION DE LETRAS====*/



.saniti {
    width: 70%;
    margin-left: 5rem;
}
/*====Estilos, Tamaños de los Botones====*/
.btnServicios {
    background-image: 
    linear-gradient(
        to right,
        #314755 0%,
        #26a0da  51%,
        #1A455D 100%);
        
    }
    .btnServicios {
        color: white;
        transition: 0.7s;
        padding: 0px 15px;
        text-align: center;
        border-radius: 2rem;
        text-transform: uppercase;
        background-size: 200% auto;
        border: 6px inset #106aa5;
    }
    .btnhidden{
        visibility: hidden;
    }
    .btnServicios:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-position: right center; /* Direccion del efecto hover */
        
    }
    .btnposicionado{
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-block-end: 3rem;
        box-shadow: 9px 5px 11px -1px #1A455D;   
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0, 0%, 0%); 
    }
/*====FIN Estilos, Tamaños de los Botones====*/
    
/*====Espacio entre secciones====*/
    .espaciado{
        padding-top: 2rem;
        border-collapse: 1px solid black;
    }
    .espaciados3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;
    }
/*====FIN Espacio entre secciones====*/
    
    
    
/*====Tamaño de imagenes====*/
.resolucion{
    width: 100% !important;
    border:1px solid black;
    border-radius: 2rem !important;
    box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
}
    .resolicion2{
        width: 90% !important;
        border:1px solid black;
        border-radius: 2rem !important;
        box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -webkit-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -moz-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
    }
.iconoT{
    width: 100%;
    margin-top: 2rem;
   }
/*====FIN Tamaño de imagenes====*/


/*====Fondo de los anuncios finales====*/
.rellenoP {
    z-index: 2;
    width: 50vh;
    height: 40vh;
    margin-left: 7rem;
    border-radius: 1rem;
    margin-right: 3.6rem;
    border: 6px solid #557813;
    box-shadow: 9px 5px 11px -1px #557813;
    -webkit-box-shadow: 9px 5px 11px -1px #557813;
}
.rellenob{
    width: 0vh;  
    height: 25vh;
    margin-top: 3rem;
    margin-left: -3.5rem;
    border: 4px solid;
    border-top-color: #1A455D;
    border-right-color: #1A455D;
    border-bottom-color: #1A455D;
    border-left-color: transparent;
    border-radius: 0rem 2rem 2rem 0rem;
    box-shadow: 9px 5px 11px -1px #1A455D;
    -webkit-box-shadow: 9px 5px 11px -1px #1A455D; 
   
 
}
/*====FIN Fondo de los anuncios finales====*/

/*====SOMBRAS====*/

.sombreadoLineas{
    border-bottom: 1px solid #557813;
	box-shadow: 0 20px 20px -20px #78aa1b;
}
.opacity-100 {
    opacity: 0.6;
}

/*====FIN SOMBRAS====*/

/*====Metodos de ENRIQUE====*/


.titempl {
    width: auto;
    height: 5.2rem;
    background-color: #1A455D;
    color: #fff;
    font-size: 18px;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}

.titempl {
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Titillium Web', sans-serif;
}


.texto-superior {
    margin-bottom: 1rem;
}



.circulo-fum {
    width: 15rem;
    height: 15rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 1rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px #999;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px!important;
    font-style: normal;
    font-weight: bolder;
    line-height: 49px;
    letter-spacing: 2px;
    text-align: center;
    color: #1A455D;
}

.card-text1 {
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: justified;
}

.hr-fum {
    height: 5px;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    border-top: 3px solid #7FA439;
}

.zoom {
    transition: 1s ease;
    -moz-transition: 1s ease;
    /* Firefox */
    -webkit-transition: 1.5s ease;
    /* Chrome - Safari */
    -o-transition: 1.5s ease;
    /* Opera */
}

.zoom1:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
}


.TextoCarousel{
    visibility: hidden;
    margin-top: -15rem;
    
}   




/* Escritorios FHD, 2K */  
@media only screen and (max-width: 1920px) and (min-width: 1367px) { 
    
    .PosicionImgPC{
        margin: 60px -90px -27px -102px;
    }

    .rellenob {
        z-index: -1;
        width: 35vh;
        height: 23vh;
        margin-top: 5.2rem;
        margin-left: 5.3rem;
        border: 4px solid;
        border-top-color: #1A455D;
        border-right-color: #1A455D;
        border-bottom-color: #1A455D;
        border-left-color: transparent;
        border-radius: 0rem 2rem 2rem 0rem;
        box-shadow: 9px 5px 11px -1px #1a455d;
        -webkit-box-shadow: 9px 5px 11px -1px #1a455d;
    }
    .btnposicionado {
        margin-top: 3.5rem;
        margin-left: 3.5rem;
        margin-right: 2.5rem;
        margin-block-end: 3rem;
        box-shadow: 9px 5px 11px -1px #1a455d;
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0deg 0% 0%);
    }
    .textofin {
        color: #1A455D;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 4rem;
    }

}




@media only screen and (max-width: 1919px) and (min-width: 1366px) {

}

/* TABLETAS 10 pulgadas */  
@media only screen and (max-width: 1366px) and (min-width: 1025px) { 
 
 
    .rellenob {
        z-index: -1;
        width: 45vh;
        height: 25vh;
        margin-top: 4.2rem;
        margin-left: -2.3rem;
        border: 4px solid;
        border-top-color: #1A455D;
        border-right-color: #1A455D;
        border-bottom-color: #1A455D;
        border-left-color: transparent;
        border-radius: 0rem 2rem 2rem 0rem;
        box-shadow: 9px 5px 11px -1px #1a455d;
        -webkit-box-shadow: 9px 5px 11px -1px #1a455d;
    }
    .btnposicionado {
        margin-top: 2.5rem;
        margin-left: 3.5rem;
        margin-right: 2.5rem;
        margin-block-end: 3rem;
        box-shadow: 9px 5px 11px -1px #1a455d;
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0deg 0% 0%);
    }
    .textofin {
        color: #1A455D;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 2.5rem;
    }

}
/*ICONOS*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .iconoT{

        width: 0;
        padding: 0px;
        margin: 0px;
        display: block !important;
    }
}
/* TABLETAS 7 pulgadas */  
@media only screen and (max-width: 1024px) and (min-width: 768px) { 
 
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        margin-left: 46px;
        border: none;
    }
    .carousel-control-prev, .carousel-control-next {
        /* max-height: 55vh; */
        height: 41vh !important;
        opacity: rgba(255, 255, 255, 0.953) !important;
    }
    .iconoT{

        width: 0;
        padding: 0px;
        margin: 0px;
        display: block !important;
    }
    
    .circulo-fum {
        width: 25rem;
        height: 25rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: -1rem 1rem 0rem 14.5rem;
        margin-bottom: 2rem;
        box-shadow: 10px 7px 20px 0px rgb(0 0 0 / 75%);
        -webkit-box-shadow: 10px 7px 20px 0px rgb(0 0 0 / 75%);
        -moz-box-shadow: 10px 7px 20px 0px rgba(0,0,0,0.75);
    }
    .resolucion{
        width: 97% !important;
        height: auto;
        border:1px solid black;
        border-radius: 1rem !important;
        box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -webkit-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
        -moz-box-shadow: 12px -1px 16px 1px rgba(0,0,0,0.76);
    }
    .LimpiezaT h1{
        font-size: 5rem!important;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .DesinfeccionT h1{

        font-size: 1.8rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .MantenimientoT h1{
        font-size: 1.7rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .subtituloL{
        color: #000000 !important;
        text-shadow: #000000;
        color: #ffffff !important;
        background-color: rgba(0, 0, 0, 0.01) !important;
        text-align: justify !important;
        letter-spacing: 1px;
    }
    .subtituloLI{
        font-size: 1rem;
        text-align: justify !important;
        background-color: rgba(1, 1, 1, 0.01);
    }
    .d-md-block{
        display: block !important;
    }
    .TextoTamaño{
        padding-top: 5px;
        font-size: 2rem;
    }
    
    .circulo-fum {
        width: 25rem;
        height: 25rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 1rem 1rem 1rem 6.5rem;
        margin-bottom: 2rem;
        box-shadow: 10px 7px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 7px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 7px 20px 0px rgba(0,0,0,0.75);
    }
    div .DesinfeccionT{
        font-size: 3rem !important;
    }
    div .MantenimientoT{
        font-size: 3.5rem !important;
    }

    .card-title {
        font-family: 'Poppins', sans-serif;
        font-size: 48px!important;
        font-style: normal;
        font-weight: bolder;
        line-height: 49px;
        letter-spacing: 2px;
        text-align: center;
        color: #1A455D;
    }
    /*Servicios Limpieza*/
    .carousel-control-prev,
    .carousel-control-next{
        /* max-height: 55vh; */
        height: 95vh;
        opacity: rgba(255, 255, 255, 0.953);
    }
    .carousel-inner img{
        width: 100%;
        /* min-width: 150vh; */
        background-position-x: 50%;
        height: auto;
        max-height: 55vh; 
    }
    .saniti{
        width: 50%;
        margin-left: 9rem;
    }

    .iconoT{
        width: 0;
        padding: 0px;
        margin: 0px;
        display: block !important;
    }
    .titulosh3{
        font-weight: bolder;
        text-align: center;
    }

    .letraI{
        color: #7FA439;
        font-size: 2.5rem;
    }

    div#main_nav.navbar-collapse.collapse.show{
        border: 4px solid #7FA439;
    }


    .navbar-collapse{
        border: 6px solid #7FA439;
    }
    .collapse{
        border: 6px solid #7FA439;
    }
    .show{
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.987);
    }

    .rellenoP {
        border: 4px solid #557813;
        height: 22vh;
        width: 51vh;
        margin-left: 2rem;
        border-radius: 2rem;
        -webkit-box-shadow: 9px 5px 11px -1px #557813;
        box-shadow: 9px 5px 11px -1px #557813;
        z-index: 2;
    }

    .rellenob{
        position: fixed;

    }
    .textofin {
        color: #1A455D;
        font-size: 2.3rem;
        font-weight: bolder;
        letter-spacing: 1px;
        text-align:center;
        margin-right: 1rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hojac{
        width: 15%;
        margin-left: -2.9rem;
        margin-top: -1rem;
    }
    .btnhidden{
        visibility: visible;
         margin: 0;
         padding: 0;
    }
    .btnServicios {
        background-image: 
        linear-gradient(
            to right,
            #314755 0%,
            #26a0da  51%,
            #1A455D 100%);
            
        }
        .btnServicios { /*Contenido interno y estilo del boton*/
            padding: 5px 35px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.7s;
            background-size: 200% auto;
            color: white;            
            border-radius: 1rem;
            border: 4px inset #106aa5;
        }
     .btnposicionado{
        margin-top: 1rem;
        margin-left: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0, 0%, 100%); 
        box-shadow: 9px 5px 11px -1px #1A455D;   
    }
  .titempl {
    margin-left: 8.6rem;
    width: 27rem;
    height: 5rem;
    background-color: #1A455D;
    color: #fff;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}
.titempl2 {
    margin-left: -5.4rem;
    width: 27rem;
    height: 5rem;
    background-color: #1A455D;
    color: #fff;
    border-radius: 2rem 0rem 2rem 0rem;
    box-shadow: 2px 2px 5px #999;
}
    .titempl {
        color: #fff;
        font-weight: 700;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;
        box-shadow: 2px 2px 5px #999;
    }

    .TextoCarousel{
        visibility: visible;
        z-index: 150;
        margin-top: -33rem;
        text-align: center;
        justify-content: center;

    }
 
    .TituloServ{
        z-index: 100;
        font-size: 1.7rem;
        margin-top: 2rem;
    }
    .TituloServ2{
        z-index: 100;
        font-size: 3.7rem;
        margin-top: 2rem;
    }
    .txtposicion{
        position: relative;
        margin-top: -3.4rem;
        margin-left: 4rem;
    }
 

    .carousel-inner.carousel-item IMG{
        background-color: green;
        height: 100vh;
    }
}
/* SURFACE DUO */
/* Para 480px TELEFONOS */  
@media only screen and (max-width: 767px) and (min-width: 641px) {  


    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        margin-left: 25px;
        border: none;
    }

    .circulo-fum {
        width: 15rem;
        height: 15rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 6rem;
        margin-bottom: 2rem;
        box-shadow: 2px 2px 5px #999;
    }
    .TituloIcS{
        margin: 0rem;
        padding: 1rem;
        color: white;
        font-weight: bold;
        background-color: #1A455D;
        border-radius: 2rem 0rem 2rem 0rem;
    }
    .TextoTamaño {
        padding-top: -0.5rem;
        font-size: 19px;
    }
    .titempl2 {
        margin-left: -5.4rem;
        width: 18rem;
        height: 5rem;
        background-color: #1A455D;
        color: #fff;
        border-radius: 2rem 0rem 2rem 0rem;
        box-shadow: 2px 2px 5px #999;
    }
    .LimpiezaT h1{
        font-size: 3rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .DesinfeccionT h1{

        font-size: 1.8rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .MantenimientoT h1{
        font-size: 1.7rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .subtituloL{
        color: #0051ff;
        color: rgb(255, 255, 255);
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0.104) !important;
        text-align: justify !important;
        border-radius: 2rem;
    }
    .subtituloLI{
        font-size: 1rem;
        text-align: justify !important;
        background-color: rgba(1, 1, 1, 0.01);
    }
    .d-md-block{
        display: block !important;
    }

    /*Servicios Limpieza*/
    .carousel-control-prev,
    .carousel-control-next{
        /* max-height: 55vh; */
        height: 95vh;
        opacity: rgba(255, 255, 255, 0.953);
    }
    .carousel-inner img{
        width: 100%;
        /* min-width: 150vh; */
        background-position-x: 50%;
        height: auto;
        max-height: 55vh; 
    }


    .iconoT{

        width: 0;
        padding: 0px;
        margin: 0px;
        display: block !important;
    }
    .titulosh3{
        font-weight: bolder;
        text-align: center;
    }

    .letraI{
        color: #7FA439;
        font-size: 2.5rem;
    }

    div#main_nav.navbar-collapse.collapse.show{
        border: 4px solid #7FA439;
    }


    .navbar-collapse{
        border: 6px solid #7FA439;
    }
    .collapse{
        border: 6px solid #7FA439;
    }
    .show{
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.987);
    }

    .rellenoP {
        border: 4px solid #557813;
        height: 28vh;
        width: 40vh;
        margin-left: 1rem;
        border-radius: 1rem;
        margin-right: 0rem;
        -webkit-box-shadow: 9px 5px 11px -1px #557813;
        box-shadow: 9px 5px 11px -1px #557813;
        z-index: 2;
    }
    .rellenob{
        position: fixed;

    }
    .textofin {
        color: #1A455D;
        font-size: 1.5rem;
        font-weight: bolder;
        text-align:center;
        margin-right: 1rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hojac{
        width: 15%;
        margin-left: -2rem;
        margin-top: -1rem;
    }
    .btnhidden{
        visibility: visible;
         margin: 0;
         padding: 0;
    }
    .btnServicios {
        background-image: 
        linear-gradient(
            to right,
            #314755 0%,
            #26a0da  51%,
            #1A455D 100%);
            
        }
        .btnServicios {
            padding: -15px 1px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.7s;
            background-size: 200% auto;
            color: white;
            border-radius: 1rem;
            border: 2px inset #106aa5;
            font-size: 15px;
        }
     .btnposicionado{
        margin-top: 1rem;
        margin-left: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0, 0%, 100%); 
        box-shadow: 9px 5px 11px -1px #1A455D;   
    }
    .titempl {
        margin-left: 1.6rem;
        width: 18rem;
        height: 5rem;
        background-color: #1A455D;
        color: #fff;
        border-radius: 2rem 0rem 2rem 0rem;
        box-shadow: 2px 2px 5px #999;
    }
    
    .LimpiezaT h1{
        font-size: 2rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .titempl {
        color: #fff;
        font-weight: 700;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;
        box-shadow: 2px 2px 5px #999;
    }

    .TextoCarousel{
        visibility: visible;
        z-index: 150;
        margin-top: -33rem;
        text-align: center;
        justify-content: center;

    }
    .TituloServ{
        z-index: 100;
        font-size: 1.7rem;
        margin-top: 2rem;
    }
    .txtposicion{
        position: relative;
        margin-top: -3.4rem;
        margin-left: 4rem;
    }
 

    .carousel-inner.carousel-item IMG{
        background-color: green;
        height: 100vh;
    }
}

/* Para 480px TELEFONOS */  
@media only screen and (max-width: 640px) and (min-width: 360px) {  

    .carousel-control-prev, .carousel-control-next {
        max-height: 100vh;
        height: 211vh !important;
        opacity: rgba(255, 255, 255, 0.953);
    }
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        margin-left: 21px;
        border: none;
    }
    .navbar-nav .nav-link {
        padding: 11px 0px 4px 14px;
        margin-left: 31px;
    }

    .hojitafp {
        width: 10%;
        height: 40px !important;
        margin-left: 4px;
    }
    .circulo-fum {
        width: 15rem;
        height: 15rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        box-shadow: 2px 2px 5px #999;
    }
    
    .TituloIcS{
        margin: 0rem;
        padding: 1rem;
        color: white;
        font-weight: bold;
        background-color: #1A455D;
        border-radius: 2rem 0rem 2rem 0rem;
    }
    .TextoTamaño {
        padding-top: -0.1rem;
        font-size: 18px;
    }
    .titempl2 {
        margin-left: -5.4rem;
        width: 18rem;
        height: 5rem;
        background-color: #1A455D;
        color: #fff;
        border-radius: 2rem 0rem 2rem 0rem;
        box-shadow: 2px 2px 5px #999;
    }
    .LimpiezaT h1{
        font-size: 3rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .DesinfeccionT h1{

        font-size: 1.8rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .MantenimientoT h1{
        font-size: 1.7rem!important;
        font-family: 'Poppins', sans-serif;
        color: white;
        color: #1A455D;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    
    }
    .subtituloL{
        color: #000000 !important;
        text-shadow: #000000;
        color: #ffffff !important;
        background-color: rgba(0, 0, 0, 0.01) !important;
        text-align: justify !important;
        letter-spacing: 1px;
    }
    .subtituloLI{
        font-size: 1rem;
        text-align: justify !important;
        background-color: rgba(1, 1, 1, 0.01);
    }
    .d-md-block{
        display: block !important;
    }

    /*Servicios Limpieza*/
    .carousel-control-prev,
    .carousel-control-next{
        /* max-height: 55vh; */
        height: 95vh;
        opacity: rgba(255, 255, 255, 0.953);
    }
    .carousel-inner img{
        width: 100%;
        min-width: 150vh;
        background-position-x: 50%;
        height: 100vh;
        max-height: 100vh; 
    }


    .iconoT{

        width: 0;
        padding: 0px;
        margin: 0px;
        display: block !important;
    }
    .titulosh3{
        font-weight: bolder;
        text-align: center;
    }

    .letraI{
        color: #7FA439;
        font-size: 2.5rem;
    }

    div#main_nav.navbar-collapse.collapse.show{
        border: 4px solid #7FA439;
    }


    .navbar-collapse{
        border: 6px solid #7FA439;
    }
    .collapse{
        border: 6px solid #7FA439;
    }
    .show{
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.987);
    }

    .rellenoP {
        border: 4px solid #557813;
        height: 28vh;
        width: 40vh;
        margin-left: 1rem;
        border-radius: 1rem;
        margin-right: 0rem;
        -webkit-box-shadow: 9px 5px 11px -1px #557813;
        box-shadow: 9px 5px 11px -1px #557813;
        z-index: 2;
    }
    .rellenob{
        position: fixed;

    }
    .textofin {
        color: #1A455D;
        font-size: 1.5rem;
        font-weight: bolder;
        text-align:center;
        margin-right: 1rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hojac{
        width: 15%;
        margin-left: -2rem;
        margin-top: -1rem;
    }
    .btnhidden{
        visibility: visible;
         margin: 0;
         padding: 0;
    }
    .btnServicios {
        background-image: 
        linear-gradient(
            to right,
            #314755 0%,
            #26a0da  51%,
            #1A455D 100%);
            
        }
        .btnServicios { /*Contenido interno y estilo del boton*/
            padding: 5px 35px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.7s;
            background-size: 200% auto;
            color: white;            
            border-radius: 1rem;
            border: 4px inset #106aa5;
        }
     .btnposicionado{
        margin-top: 1rem;
        margin-left: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 9px 5px 11px -1px hsl(0, 0%, 100%); 
        box-shadow: 9px 5px 11px -1px #1A455D;   
    }
    .titempl {
        margin-left: 1.6rem;
        width: 18rem;
        height: 5rem;
        background-color: #1A455D;
        color: #fff;
        border-radius: 2rem 0rem 2rem 0rem;
        box-shadow: 2px 2px 5px #999;
    }
    
    .titempl {
        color: #fff;
        font-weight: 700;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;
        box-shadow: 2px 2px 5px #999;
    }

    .TextoCarousel{
        visibility: visible;
        z-index: 150;
        margin-top: -33rem;
        text-align: center;
        justify-content: center;

    }
    .TituloServ{
        z-index: 100;
        font-size: 1.7rem;
        margin-top: 2rem;
    }
    .txtposicion{
        position: relative;
        margin-top: -3.4rem;
        margin-left: 4rem;
    }
 

    .carousel-inner.carousel-item IMG{
        background-color: green;
        height: 100vh;
    }
}

@media only screen and (max-width: 812px) and (min-width: 375px){
    .rellenoP {
        border: 4px solid #557813;
        height: 25vh;
        width: 30vh;
        margin-left: 1rem;
        border-radius: 1rem;
        margin-right: 0rem;
        -webkit-box-shadow: 9px 5px 11px -1px #557813;
        box-shadow: 9px 5px 11px -1px #557813;
        z-index: 2;
    }
}