.row{
    overflow-x: hidden;
}

/* --------------------------- Estilos Servicios ---------------------------------- */

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    color: #fff;
    text-align: center;
    opacity: .5;
    margin-top: 5rem;
    transition: opacity .15s ease;

}
.Diseño-Letras-DSF {
    font-size: 34px;
    font-weight: 800;
    border-radius: 2rem;
    letter-spacing: 5.2px;
    font-style: normal;
    font-family: 'Poppins';
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-color: rgba(238, 238, 238, 0.192);
}

.Diseño-Letras-M {
    font-size: 34px;
    font-weight: 800;
    border-radius: 2rem;
    letter-spacing: 5.2px;
    font-style: normal;
    font-family: 'Poppins';
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-color: rgba(238, 238, 238, 0.192);
}
.Diseño-Letras-limpieza {
    font-size: 57px;
    font-weight: 800;
    border-radius: 4rem;
    letter-spacing: 5.2px;
    font-style: normal;
    font-family: 'Poppins';
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1A455D;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-color: rgba(238, 238, 238, 0.192);
}
.card{
    margin: 1rem;
}
.btn-cotice {
    margin: 20px 20px 20px 20px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 3rem;
    display: block;
    -webkit-box-shadow: 8px 11px 12px 0px rgb(0 0 0 / 50%);
    box-shadow: 8px 11px 12px 0px rgb(0 0 0 / 50%);
}
/*FOOTER PREVIO*/

/*==== TAMAÑO CARRUSEL ====*/
.carousel{
    background-color: rgba(4, 4, 4, 0.699);
}

.carousel-control-prev,
.carousel-control-next{
    max-height: 40rem;
    opacity: rgba(63, 63, 63, 0.137);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}
.sombreadoLineas{
    border-bottom: 1px solid #557813;
    box-shadow: 0 20px 20px -20px #78aa1b;
}
.opacity-100 {
    opacity: 0.6;
}


/*==== FIN TAMAÑO CARRUSEL ====*/

    .TextoCarousel{
        visibility: hidden;
        margin-top: -15rem;
        
    }   
    .container-fluid{
        margin-top: 2rem;
        margin-block-end: 2rem;
    }
    .Tamaño-Icono-Limpieza {
        width: 70%;
        height: auto;
        border-radius: 2rem !important;
        margin-top: 4rem;
    }

    /*==== Img Sanitizante ====*/
    .saniti {
        width: 70%;
        margin-left: 5rem;
    }

/*Card Mantenimiento*/

.card,.M {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 6px 12px -1px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 9px 6px 12px -1px rgba(0,0,0,0);
}
.card img{
    -webkit-border-radius: 40px 40px 33px 40px;
    -moz-border-radius: 40px 40px 33px 40px;
    border-radius: 1rem 1rem 0rem 0rem;
}
.card-group>.card:not(:last-child) {
    border-radius: 1rem;
}
.card-text1 {
    font-family: 'Poppins';
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: justified;
}
.card-group>.card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    border-radius: 1rem;
}


.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 101%;
    height: auto;
}
/*BTN FINAL*/
.btn-preg {
    background-image: linear-gradient( to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #1A455D;
    color: #ffff;
    margin-top: 5rem;
    padding: 28px 4px 32px 15px;
    text-decoration: none;
    font-size: 30px;
    border: 4px inset #1A455D;
}
.btn-preg:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 50px;
    background-image: linear-gradient(to right, #3a5531 10%, #7FA439 51%, #315531 100%);
    border: 4px inset #7FA439;
}

/*BTN FINAL*/
/*==== FIN Img Sanitizante ====*/
   .linea_izquierda hr {
    height: 5px;
    margin-left: 0%;
    margin-right: 5%;
    background-color: #7FA439;
    }
    .linea_derecha hr {
        height: 5px;
        margin-left: 5%;
        margin-right: 0%;
        background-color: #7FA439;
    }
    .linea_centrada hr{
        height: 5px;
        margin-left: 7%;
        margin-right: 7%;
        background-color: #7FA439;
    }
    /*Carrusel contenido*/
    div .LimpiezaT {
        margin-right: 35vh;
        margin-left: 35vh;

    }
 
    .FormatoLetras-Carrete {
        margin: 1rem;
        padding: 1rem;
        justify-content: center;
        text-align: justify;
        border-radius: 2rem;
        background-color: #0000004d;
        letter-spacing: -1px;
        line-height: 31px;
    }
    /*Carrusel contenido*/
   


    .TextoTamaño{
        padding-top: 0.5rem;
        margin-left:  1rem;
    }

.Fondo-Nesecita{
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #1A455D;
    background-color: #ffffff;
    border: 4px solid #7FA439;
    border-radius: 3.3rem;
    box-shadow: 23px 20px 31px 6px rgb(0 0 0 / 17%);
    -webkit-box-shadow: 23px 20px 31px 6px rgb(0 0 0 / 17%);
    -moz-box-shadow: 23px 20px 31px 6px rgba(0, 0, 0, 0.17);
    display: inline-block;
    text-align: center;
}
.circulo-fum {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    margin: 2rem auto;
    box-shadow: 2px 2px 5px #999;
    display: flex;
    justify-content: center;
}


.hr-fum {
    height: 5px;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    border-top: 3px solid #7FA439;
}

.zoom {
    transition: 1s ease;
    -moz-transition: 1s ease;
    /* Firefox */
    -webkit-transition: 1.5s ease;
    /* Chrome - Safari */
    -o-transition: 1.5s ease;
    /* Opera */
}

.zoom1:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 29px!important;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    color: #1A455D;
}

/*FIN CLASES SIN MEDIAS*/


@media only screen and (min-width: 1367px) and (max-width: 1680px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/*TABLETS GRANDES Y PC */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }





}

/*MEDIDAS VARIADAS TABLET Y LAPTOP CON BAJA RESOLUCION*/
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

/*Tableta*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .Diseño-Letras-M {
        font-size: 72px;
        font-weight: 800;
        border-radius: 4rem;
        letter-spacing: 5.2px;
        font-style: normal;
        font-family: 'Poppins';
        font-variant: small-caps;
        text-transform: capitalize;
        color: #1A455D;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        background-color: rgba(238, 238, 238, 0.192);
    }


    .saniti {
        width: 75%;
        margin-left: 5rem;
    }
 

    .carousel-inner img {
        width: auto;
        max-height: 30rem;
    }
    .carousel-control-prev, .carousel-control-next {
        max-height: 20rem;
        opacity: rgba(63, 63, 63, 0.364);
        background-color: rgba(0, 0, 0, 0.100);
        border-radius: 2rem;
    }
    
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 7rem;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: rgb(255, 255, 255);
        text-align: center;
        opacity: .5;
        transition: opacity .15s cubic-bezier(0.4, 0, 1, 1);
    }
 
    .FormatoLetras-Carrete {
        margin: 1rem;
        padding: 1rem;
        justify-content: center;
        text-align: justify;
        border-radius: 2rem;
        font-size: 26px;
        background-color: #0000004d;
        letter-spacing: -1px;
        line-height: 31px;
    }
 
    div .LimpiezaT {
        margin-right: 4vh;
        margin-left: 4vh;
    }


    .Posicion-Icono-Limpieza, .Tamaño-Icono-Limpieza {
        display: block !important;
    }
    .desaparecer-icono {
        visibility: hidden;
        position: fixed;
        z-index: -999;
    }

    .btnServicios {
        color: white;
        transition: 0.7s;
        padding: 0px 40px 0px 40px;
        text-align: center;
        font-weight: 800;
        border-radius: 2rem;
        text-transform: uppercase;
        background-size: 200% auto;
        border: 6px inset #106aa5;
    }

}

/*Telefono*/
@media only screen and  (min-width: 320px) and (max-width: 500px) {
  
  
    /*FIN FOOTER PREVIO*/


    h3.card-title{
        font-weight: 800;
        font-family: 'Poppins';
        color: #1A455D;
    }
    /*Titulos*/
    div .LimpiezaT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }

    div .DesinfeccionT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }

    div .MantenimientoT{ /*Posicion*/
        margin-right: auto;
        margin-left: auto;
    }
  
    /*Titulos*/
 /*TELEFONO - LIMPIEZA*/
    .Posicion-Icono-Limpieza, .Tamaño-Icono-Limpieza{
        display: block !important;
    }
    .Posicion-Icono-Mantenimiento, .Tamaño-Icono-Mantenimiento{
        display: block !important;
    }


    /*FIN TELEFONO - LIMPIEZA*/

    

    /*Carrusel*/
    .carousel-control-prev, .carousel-control-next {
        max-height: 89vh;
        height: 79vh !important;
        opacity: rgba(255, 255, 255, 0.953);
    }
    /*Servicios Limpieza*/
    .carousel-control-prev,
    .carousel-control-next{
        height: 95vh;
        opacity: rgba(255, 255, 255, 0.953);
    }
  

    .carousel-inner img {
        width: 100%;
        min-width: 100vh;
        height: 99vh;
        max-height: 100vh;
    }
    .d-md-block{
        display: block !important;
    }
    .FormatoLetras-Carrete {
        margin: 1rem;
        padding: 1rem;
        justify-content: center;
        text-align: justify;
        border-radius: 2rem;
        font-size: 20px;
        color: #1A455D;
        -webkit-text-stroke: 0.3px rgb(255, 255, 255);
        background-color: #0000004d;
        letter-spacing: -1px;
        line-height: 31px;
    }
  
    .carousel-inner.carousel-item IMG{
        background-color: green;
        height: 100vh;
    }
        /*Carrusel*/

        .titulosh3{
            font-weight: bolder;
            text-align: center;
        }
        .desaparecer-icono{
            visibility: hidden;
            position: fixed;
            z-index: -999;
        }

            .letraI{
                color: #7FA439;
                font-size: 2.5rem;
            }



            /*FORMATOS DE TITULO CON FONDO*/

  

           


            /*Fin formatos de titulo con fondo*/
            
                .saniti {
                    width: 100%;
                    margin-left: 0rem;
                }
           

          
}