.zoom {
    overflow: hidden;
    padding-bottom: 100%;
}

.zoom img {
    position: fixed;
    top: -9%;
    left: 50%;
    max-width: 200%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    z-index: -999;
    /* Thanks  @bastian_fiessinger. Use when activating blur effect:
	will-change: -webkit-filter, filter, transform; */
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
    .zoom {
        margin-bottom: 34rem;
    }
    .zoom img {
        top: 14%;
        left: 50%;
        width: 44rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .zoom {
        padding-bottom: 100%;
        margin-bottom: 27rem;
    }
    .zoom img {
        top: 5%;
        left: 50%;
        max-width: 200%;
        width: 87rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .zoom img {
        top: -3%;
        left: 50%;
        max-width: 200%;
        width: 100rem;
    }
}


/* @media only screen and (min-width: 1367px) and (max-width: 1680px) {
    .zoom img {
        top: 0%;
    }
} */

@media only screen and (min-width: 1681px) and (max-width: 1919px) {
    .zoom img {
        top: 0%;
    }
}